@charset "UTF-8";
@keyframes topicsopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 40%;
  }
}

body {
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  background: url("/static/justn/img/blog/Renè_Müller.jpg") no-repeat center/cover fixed;
  min-height: 100vh;
  height: 100%;
}

form {
  width: 100%;
}

.submit__button {
  outline: none;
  padding: 1rem;
  border: none;
  width: 100%;
  height: 4rem;
  background: #ff6b6b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 3px #0B0014;
  transition: all 0.2s;
}
.submit__button:hover {
  background: #fc7c7c;
}

.topics__button {
  outline: none;
  border: none;
  background: none;
  width: 12rem;
  height: 100%;
}

.topics__close__button {
  cursor: pointer;
  transition: all 0.2s;
  height: 100%;
  font-weight: 600;
}
.topics__close__button:hover {
  color: #ff6b6b;
}

.admin__close__button {
  cursor: pointer;
  transition: all 0.2s;
  height: 100%;
  width: 100%;
  color: #ddcecd;
  font-weight: 600;
  text-align: center;
  padding: 2rem 0;
}
.admin__close__button:hover {
  color: #0B0014;
}

.tag__icon {
  background: #0B0014;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #ddcecd;
}

.post__image__container {
  width: 15rem;
  height: 100%;
  position: relative;
}
.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post__author__container {
  width: 3rem;
  height: 3rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-right: 0.5rem;
  background: #ddcecd;
}
.post__author__image {
  width: 100%;
}
.post__content img {
  border-radius: 0.8rem;
  margin: 1rem;
  width: 100%;
}

.post__detail__author__container {
  width: 5rem;
  height: 5rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-right: 0.5rem;
  background: #ddcecd;
}
.post__detail__author__image {
  width: 100%;
}

.container {
  max-width: 100rem;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.content {
  flex: 1;
  display: flex;
  padding: 2rem 0;
}

.pagination {
  margin-top: 2rem;
  width: 100%;
}

.topics__title__link:link,
.topics__title__link:visited {
  cursor: pointer;
  text-decoration: none;
  color: #0B0014;
  transition: all 0.2s;
  height: 100%;
}

.topics__list__item__link:link,
.topics__list__item__link:visited {
  border-radius: 0.3rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #0B0014;
  transition: all 0.2s;
  height: 100%;
}
.topics__list__item__link:link:hover,
.topics__list__item__link:visited:hover {
  color: #ddcecd;
}

.post__detail__topics__list--item a:link,
.post__detail__topics__list--item a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #0B0014;
  transition: all 0.2s;
  height: 100%;
  color: #ddcecd;
}

.logo {
  text-align: center;
  width: 100%;
}
.logo__link:link, .logo__link:visited {
  background: url("/static/justn/img/blog/Erica_Anderson.gif") no-repeat center/cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  background: #0B0014;
  width: 100%;
  border-radius: 4rem;
  box-shadow: 0px 3px 3px #0B0014;
}
.navigation__list__item {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}
.navigation__list__item:first-child {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}
.navigation__list__item:last-child {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
.navigation__list__item:hover {
  background: #EAE0D5;
}
.navigation__list__item__link:link, .navigation__list__item__link:visited,
.navigation__list__item .topics__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  color: #ddcecd;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: #ddcecd;
}
.navigation__list__item__link:link:hover, .navigation__list__item__link:visited:hover,
.navigation__list__item .topics__button:hover {
  color: #0B0014;
}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.post__container {
  width: 100%;
  height: 11rem;
  border: 1px solid #0B0014;
  background-color: #ddcecd;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 3px #0A0908;
  transition: all 0.2s;
  overflow: hidden;
}
.post__container:not(:last-child) {
  margin-bottom: 1rem;
}

.post {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  transition: all 0.7s;
  position: relative;
}
.post:link, .post:visited {
  cursor: pointer;
  text-decoration: none;
  color: #0B0014;
}
.post:link:hover, .post:visited:hover {
  color: #ddcecd;
}
.post::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #0B0014;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.post:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.post__text {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  transition: all 0.2s;
  box-shadow: 3px 0 3px #0B0014;
  z-index: 1;
}
.post__information {
  display: flex;
  align-items: center;
}
.post__content {
  border: 1px solid #0B0014;
  padding: 1rem;
  background: #ddcecd;
  box-shadow: 2px 2px 3px #0B0014;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}
.post__content a:link,
.post__content a:visited {
  color: #1975bb;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.post__detail {
  width: 100%;
}
.post__detail__header {
  margin-bottom: 2rem;
}
.post__detail__information {
  display: flex;
  align-items: center;
}
.post__detail__topics {
  display: flex;
  align-items: center;
}
.post__detail__topics__title {
  margin-right: 0.5rem;
}
.post__detail__topics__list {
  list-style: none;
  display: flex;
}
.post__detail__topics__list--item:not(:last-child) {
  margin-right: 1rem;
}
.post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.post__form__background {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  background: rgba(0, 0, 0, 0.734);
  box-shadow: 2px 2px 3px black;
}
.post__form p {
  color: #ddcecd;
}
.post__form p:not(:last-child) {
  margin-bottom: 1rem;
}
.post__form p .helptext {
  margin-top: 0.3rem;
  display: block;
}
.post__form p a {
  color: #ddcecd;
}
.post__form input {
  background: #ddcecd;
  color: black;
  padding: 1rem;
  border: none;
  outline: none;
  transition: all 0.2s;
  border-radius: 0.3rem;
  width: 100%;
  display: inline-block;
  box-shadow: 2px 2px 3px black;
}
.post__form input[type=checkbox] {
  width: auto;
}
.post__form input:focus {
  background: #ffe66d;
}

.topics {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.topics__content {
  width: 40rem;
  max-height: 70vh;
  margin: 14rem auto;
  background: #ddcecd;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 2rem;
  animation-name: topicsopen;
  animation-duration: 0.5s;
}
.topics__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.topics__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.topics__list__item {
  width: 100%;
  height: 5rem;
  border-radius: 0.8rem;
  transition: all 0.2s;
}
.topics__list__item:hover {
  background: #0B0014;
}

.post__detail__topics__list--item {
  background: #0B0014;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.logo__link {
  font-size: 3.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.navigation__list {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.topics__button {
  font-size: 1.3rem;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: capitalize;
}

.topics__title {
  font-size: 3rem;
  font-weight: 300;
}
.topics__list__item {
  text-transform: lowercase;
}
.topics__close__button {
  font-size: 2rem;
  text-decoration: none;
}

.post__title {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media only screen and (max-width: 31.25em) {
  .post__title {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 25em) {
  .post__title {
    font-size: 1.7rem;
  }
}
.post__content {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.8;
}
.post__content p:not(:last-child) {
  margin-bottom: 2rem;
}
.post__information {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
}
.post__detail__title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}
.post__detail__information {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
}
.post__detail__update {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.post__detail__topics__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}
.post__detail__topics__list {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 200;
}
.post__form label {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.post__form input {
  font-size: 1.5rem;
  font-weight: 300;
}
.post__form .helptext {
  font-size: 1rem;
  font-weight: 200;
}
.post__form__button {
  font-weight: 500;
  text-transform: uppercase;
}

/*# sourceMappingURL=blog_style.css.map */
