{% extends 'blog/index.html' %}
{% block content %}
<div class="post__detail">

    <div class="post__detail__header">
        <h3 class="post__detail__title">{{ object.title }}</h3>
        <div class="post__detail__information">
            <figure class="post__detail__author__container">
                <img class="post__detail__author__image" src="{{ object.author.profile.image.url }}"
                    alt="{{ object.author }}'s picture">
            </figure>
            <div class="post__author">
                {{ object.author }} | {{ object.date_posted|date:"M d, Y" }}
            </div>
        </div>
    </div>

    <div class="post__content">
        {{ object.content | safe }}
    </div>

    {% if object.tags %}
    <div class="post__detail__topics">
        <ion-icon name="pricetag" class="tag__icon"></ion-icon>
        <ul class="post__detail__topics__list">
            {% for tag in object.tags.all %}
            <li class="post__detail__topics__list--item">
                <a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock content %}