* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;

    @media only screen and (max-width: $breakpoint-md) {
        font-size: 50%;
    }

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 40%;
    }

    @media only screen and (max-width: $breakpoint-xs) {
        font-size: 20%;
    }
}

body {
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    background: url('/static/justn/img/blog/Renè_Müller.jpg') no-repeat center / cover fixed;
    min-height: 100vh;
    height: 100%;
}