
.btn__container {
    background: #5e503f;
    border-radius: .4rem;
    text-align: center;
    margin: 2rem auto;
    width: 75%;
    box-shadow: 2px 2px 3px black;
}

.submit__button {
    outline: none;
    padding: 1rem;
    border: none;
    width: 100%;
    height: 4rem;
    background: $red;
    color: #eee5e5;
    border-radius: .4rem;
    box-shadow: 2px 2px 3px black;
    transition: all .2s;

    &:hover {
        background: $red-light;
    }
}

.user__controls__topics__button {
    outline: none;
    border: none;
    background: none;
    width: 12rem;
    height: 100%;
    font-size: 1.4rem;
}

.topics__close__button {
    cursor: pointer;
    transition: all .2s;
    height: 100%;

    &:hover {
        color: $red;
    }
}

.admin__close__button {
    cursor: pointer;
    transition: all .2s;
    height: 100%;
    width: 100%;
    color: $whiteish;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;

    &:hover {
        color: $blackish;
    }
}