.submit__button {
    outline: none;
    padding: 1rem;
    border: none;
    width: 100%;
    height: 4rem;
    background: $red;
    color: $whiteish;
    @include border_radius_sm;
    @include box_shadow;
    @include transition_short;

    &:hover {
        background: $red-light;
    }
}

.topics__button {
    outline: none;
    border: none;
    background: none;
    width: 12rem;
    height: 100%;
}

.topics__close__button {
    cursor: pointer;
    @include transition_short;
    height: 100%;

    &:hover {
        color: $red;
    }
}

.admin__close__button {
    cursor: pointer;
    @include transition_short;
    height: 100%;
    width: 100%;
    color: $whiteish;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;

    &:hover {
        color: $blackish;
    }
}