.post {

    &__image__shell {
        width: 10rem;
        height: 10rem;
        transition: all .2s;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image__author__shell {
        width: 2rem;
        height: 2rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);        
    }

    &__image__author {
        width: 100%;
    }

    &__content {
        img {
            @include border_radius_sm;
            margin: 1rem;
        }
    }
}