.container {
    max-width: 100rem;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.content {
    flex: 1;
    display: flex;
    padding: 2rem 0;
}

.pagination {
    margin-top: 2rem;
    width: 100%;
}