.container {
    max-width: 100rem;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 2rem;
}

.content {
    padding: 0 2rem 2rem 2rem;
    flex: 1;
    position: relative;
}

.pagination {
    margin-top: 2rem;
    width: 100%;
}