@mixin link_default {
    cursor: pointer;
    text-decoration: none;
    color: $blackish;
    @include transition_short;
    height: 100%;
}

.topics__title__link:link,
.topics__title__link:visited {
    @include link_default;
}

.topics__list__item__link:link,
.topics__list__item__link:visited {
    border-radius: .3rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    @include link_default;

    &:hover {
        color: $whiteish;
    }


}

.post__detail__topics__list--item {
    a:link,
    a:visited {
        @include link_default;
        color: $whiteish;
    }
}

