@mixin link_default {
    cursor: pointer;
    text-decoration: none;
    color: $blackish;
    @include transition_short;
    height: 100%;
}

.admin__list__item__link:link,
.admin__list__item__link:visited {
    width: 100%;
    border-radius: .3rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    @include link_default;
    color: $whiteish;

    &:hover {
        color: $blackish;
    }
}

.logo__link:link,
.logo__link:visited {
    cursor: pointer;
    @include link_default;
    color: transparent;
}

.navigation__list__item__link:link,
.navigation__list__item__link:visited, 
.topics__button {
    width: 100%;
    border-radius: .3rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    @include link_default;
    color: $whiteish;

    &:hover {
        color: $blackish;
    }
}

.topics__title__link:link,
.topics__title__link:visited {
    @include link_default;
}

.topics__list__item__link:link,
.topics__list__item__link:visited {
    border-radius: .3rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    @include link_default;

    &:hover {
        color: $whiteish;
    }


}

.post:link,
.post:visited {
    @include link_default;
    height: 10rem;
}

.post__content {
    a:link,
    a:visited {
        @include link_default;
    }
}

.post__detail__topics__list--item {
    a:link,
    a:visited {
        @include link_default;
        color: $whiteish;
    }
}

.pagination__list__item:link, 
.pagination__list__item:visited {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    @include link_default;
    color: $whiteish;

    &:hover {
        color: $blackish;
    }
}