.logo {
    text-align: center;
    width: 100%;
    
    &__link:link,
    &__link:visited {
        background: url('/static/justn/img/blog/Erica_Anderson.gif') no-repeat center / cover;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        @include link;
    }

    
}