.navigation {
    @include navigation;

    @media only screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }

    @media only screen and (max-width: $breakpoint-xs) {
        width: 100%;
    }
    
    &__list {
        @include navigation_list_settings;
        @include border_radius_lrg;
        @include round_box_shadow;

        &__item {
            @include navigation_item_settings;
            @include transition_short;

            &:first-child {
                border-top-left-radius: 4rem;
                border-bottom-left-radius: 4rem;
            }

            &:last-child {
                border-top-right-radius: 4rem;
                border-bottom-right-radius: 4rem;
            }

            &:hover {
                background: $plain;
            }

            &__link:link,
            &__link:visited,
            .topics__button {
                @include navigation_link_settings;
                @include transition_short;
                @include link;
                color: $whiteish;

                &:hover {
                    color: $blackish;
                }
            }
        }
    }
}