.logo__link {
    font-size: 3.8rem;
    font-weight: 900;
    text-transform: uppercase;
}

.navigation__list {
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.topics__button {
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
}

.topics {
    &__title {
        font-size: 3rem;
        font-weight: 300;
    }

    &__list__item {
        text-transform: lowercase;
    }

    &__close__button {
        font-size: 2rem;
        text-decoration: none;
    }
}

.post {

    &__title {
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;

        @media only screen and (max-width: $breakpoint-sm) {
            font-size: 1.7rem;
        }

        @media only screen and (max-width: $breakpoint-xs) {
            font-size: 1.7rem;
        }
    }

    &__content {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.8;
        
        p {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__information {
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    &__detail {

        &__title {
            font-size: 4rem;
            font-weight: 700;
            text-transform: capitalize;
        }

        &__information {
            font-size: 1.3rem;
            font-weight: 300;
            text-transform: capitalize;
        }

        &__update {
            font-size: 1.7rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        &__topics {

            &__title {
                font-size: 1.8rem;
                font-weight: 400;
                text-transform: capitalize;
            }

            &__list {
                text-decoration: underline;
                font-size: 1.5rem;
                font-weight: 200;
            }
        }
    }

    &__form {
        label {
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        
        input {
            font-size: 1.5rem;

            font-weight: 300;
            
        }
        .helptext {
            font-size: 1rem;
            font-weight: 200;
        }

        &__button {
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}