//colors
$whiteish: #ddcecd;
$blackish: #0B0014;
$plain: #EAE0D5;
$red: #ff6b6b;
$red-light: #fc7c7c;
$yellow: #ffe66d;
$yellow-light: #ffec8e;

$white: #fff;
$black: #000;

//media queries
$breakpoint-md: 50em; //800px
$breakpoint-sm: 31.25em; //500px
$breakpoint-xs: 25em; //400px