//colors
$whiteish: #ddcecd;
$blackish: #0B0014;
$plain: #EAE0D5;
$red: #ff6b6b;
$red-light: #fc7c7c;
$yellow: #ffe66d;
$yellow-light: #ffec8e;

$white: #fff;
$black: #000;

//media queries
$breakpoint-medium: 56.25em; //900px
$breakpoint-xs: 28em; //450px