.admin {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;
}

.admin__list {
  list-style: none;
}

.admin__list__item {
  background: #0b00149e;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 12rem;
  width: 7rem;
}

.admin__list__item:first-child {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.admin__list__item:last-child {
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.admin__list__item:hover {
  background: #EAE0D5;
}

@-webkit-keyframes topicsopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes topicsopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 100%;
}

body {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 1.4rem;
  background: #f2f4f3ff;
  height: 100%;
}

.btn__container {
  background: #5e503f;
  border-radius: .4rem;
  text-align: center;
  margin: 2rem auto;
  width: 75%;
  -webkit-box-shadow: 2px 2px 3px black;
          box-shadow: 2px 2px 3px black;
}

.post__form__button {
  outline: none;
  padding: 1rem;
  border: none;
  width: 100%;
  height: 4rem;
  background: #5e503f;
  color: #eee5e5;
  border-radius: .4rem;
  -webkit-box-shadow: 2px 2px 3px black;
          box-shadow: 2px 2px 3px black;
}

.user__controls__topics__button {
  outline: none;
  border: none;
  background: none;
  width: 12rem;
  height: 100%;
  font-size: 1.4rem;
}

.topics__close__button {
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
}

.topics__close__button:hover {
  color: red;
}

.tag__icon {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #ddcecd;
}

.post__image__shell {
  width: 10rem;
  height: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.post__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post__image__author__shell {
  width: 2rem;
  height: 2rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.post__image__author {
  width: 100%;
}

.post__content img {
  border-radius: 1rem;
  margin: 1rem;
}

.blog {
  font-family: 'Noto Sans JP', sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#22333b6d), to(#22333b6d)), url("/static/justn/img/blog/hot_leaf.jpg") no-repeat center/cover fixed;
  background: linear-gradient(to bottom right, #22333b6d, #22333b6d), url("/static/justn/img/blog/hot_leaf.jpg") no-repeat center/cover fixed;
  min-height: 100vh;
}

.blog__container {
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 60rem;
}

.pagination {
  margin-top: 2rem;
  width: 100%;
}

.admin__list__item__link:link,
.admin__list__item__link:visited {
  width: 100%;
  border-radius: .3rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all .2s;
  height: 100%;
  color: #ddcecd;
}

.admin__list__item__link:link:hover,
.admin__list__item__link:visited:hover {
  color: #0B0014;
}

.logo__link:link,
.logo__link:visited {
  border-radius: .3rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
}

.user__controls__item__link:link,
.user__controls__item__link:visited,
.user__controls__topics__button {
  width: 100%;
  border-radius: .3rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all .2s;
  height: 100%;
  color: #ddcecd;
}

.user__controls__item__link:link:hover,
.user__controls__item__link:visited:hover,
.user__controls__topics__button:hover {
  color: #0B0014;
}

.topics__title__link:link,
.topics__title__link:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
}

.topics__list__item__link:link,
.topics__list__item__link:visited {
  border-radius: .3rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
}

.post:link,
.post:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
  height: 10rem;
}

.post:link:hover .post__image__shell,
.post:visited:hover .post__image__shell {
  width: 15rem;
}

.post__content a:link,
.post__content a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
}

.post__detail__topics__list--item a:link,
.post__detail__topics__list--item a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
  color: #ddcecd;
}

.btn__container a:link,
.btn__container a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
  padding: 1rem 2rem;
}

.pagination__list__item:link,
.pagination__list__item:visited {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
  color: #ddcecd;
}

.pagination__list__item:link:hover,
.pagination__list__item:visited:hover {
  color: #0B0014;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .user__controls {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 3px 3px black;
          box-shadow: 0px 3px 3px black;
}

.navigation .user__controls__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12rem;
  background: #0B0014;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation .user__controls__item:first-child {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.navigation .user__controls__item:last-child {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.navigation .user__controls__item:hover {
  background: #EAE0D5;
}

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 3px 3px black;
          box-shadow: 0px 3px 3px black;
}

.pagination__list__item {
  background: #0B0014;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 12rem;
}

.pagination__list__item:first-child {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.pagination__list__item:last-child {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.pagination__list__item:hover {
  background: #EAE0D5;
}

.posts .posts__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts .posts__list--item {
  width: 75%;
  overflow: hidden;
  border-radius: .3rem;
  background: #ddcecd;
  -webkit-box-shadow: 5px 5px 3px #0A0908;
          box-shadow: 5px 5px 3px #0A0908;
}

.posts .posts__list--item:not(:last-child) {
  margin-bottom: 1rem;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.post__text {
  width: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
}

.post__image__container {
  -webkit-box-shadow: -2px 0 3px black;
          box-shadow: -2px 0 3px black;
}

.post__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__content {
  padding: 1rem;
  background: #ddcecd;
  -webkit-box-shadow: 5px 5px 3px #0A0908;
          box-shadow: 5px 5px 3px #0A0908;
  border-radius: .3rem;
  margin-bottom: 2rem;
}

.post__detail__header {
  margin-bottom: 2rem;
}

.post__detail__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__detail__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__detail__topics__title {
  margin-right: .5rem;
}

.post__detail__topics__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__detail__topics__list--item:not(:last-child) {
  margin-right: 1rem;
}

.post__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.227);
  border-radius: .4rem;
}

.post__form__background {
  padding: 1rem;
  border-radius: .4rem;
}

.post__form p {
  padding: 1rem;
  color: white;
}

.post__form p:not(:last-child) {
  margin-bottom: .5rem;
}

.post__form p label {
  display: block;
}

.post__form p .helptext {
  margin-top: .3rem;
  display: block;
}

.post__form p a {
  color: white;
}

.post__form input {
  background: #eee5e5;
  color: black;
  padding: 1rem;
  border: none;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: .3rem;
  width: 100%;
  -webkit-box-shadow: 2px 2px 3px black;
          box-shadow: 2px 2px 3px black;
}

.post__form input[type="checkbox"] {
  width: auto;
}

.post__form input:focus {
  border-bottom: 1px solid black;
}

.topics {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.topics__content {
  width: 40rem;
  margin: 14rem auto;
  background: -webkit-gradient(linear, left top, right bottom, from(#BBBAC6), to(#f2f4f3ff));
  background: linear-gradient(to bottom right, #BBBAC6, #f2f4f3ff);
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: .4rem;
  padding: 2rem;
  -webkit-animation-name: topicsopen;
          animation-name: topicsopen;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.topics__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.topics__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topics__list__item {
  width: 100%;
  height: 5rem;
}

.post__detail__topics__list--item {
  background: #0B0014;
  padding: .5rem;
  border-radius: .4rem;
}

.blog {
  font-size: 1.6rem;
}

.blog .logo__link {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.blog .user__controls {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.blog .user__controls__topics__button {
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: capitalize;
}

.blog .topics__title {
  font-size: 3rem;
  font-weight: 300;
}

.blog .topics__list__item {
  text-transform: lowercase;
}

.blog .topics__close__button {
  font-size: 2rem;
  text-decoration: none;
}

.blog .post__title {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}

.blog .post__content {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.6;
}

.blog .post__content p:not(:last-child) {
  margin-bottom: 3rem;
}

.blog .post__information {
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: capitalize;
}

.blog .post__detail__title {
  font-size: 4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.blog .post__detail__information {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
}

.blog .post__detail__update {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
}

.blog .post__detail__topics__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}

.blog .post__detail__topics__list {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 200;
}

.blog .post__form label {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.blog .post__form input {
  font-size: 1.5rem;
  font-weight: 300;
}

.blog .post__form .helptext {
  font-size: 1rem;
  font-weight: 200;
}

.blog .post__form__button {
  font-weight: 500;
  text-transform: uppercase;
}

.blog .pagination {
  text-transform: capitalize;
}

@-webkit-keyframes SqueezeIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes SqueezeIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes SqueezeOut {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes SqueezeOut {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 100%;
}

body {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 1.4rem;
  background: #f2f4f3ff;
  height: 100%;
}

.project__button__container {
  width: 100%;
  margin: 0 auto;
  background: #22333bff;
  padding: 1rem;
  -webkit-transition: .2s all;
  transition: .2s all;
  text-align: center;
  border-radius: .4rem;
  -webkit-box-shadow: 1px 2px 3px black;
          box-shadow: 1px 2px 3px black;
}

.project__button__container:hover {
  background: #476979;
}

.project__button:link,
.project__button:visited {
  color: #f2f4f3ff;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.resume__button:link,
.resume__button:visited {
  display: block;
  width: 50%;
  border-radius: .7rem;
  margin: 0 auto;
  background: #22333bff;
  padding: 2rem;
  color: #f2f4f3ff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 2px 3px black;
          box-shadow: 1px 2px 3px black;
}

.resume__button:link:hover,
.resume__button:visited:hover {
  background: #476979;
}

.icon {
  display: block;
}

.icon__list {
  list-style: none;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon__list__item {
  width: 15rem;
  cursor: pointer;
}

@media only screen and (max-width: 40em) {
  .icon__list__item {
    width: 10rem;
  }
}

.icon__list__item__link:visited, .icon__list__item__link:link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.icon__list__item__link:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media only screen and (min-width: 40em) {
  .icon__list__item__link:hover .icon {
    -webkit-animation: SqueezeIn .2s ease-out;
            animation: SqueezeIn .2s ease-out;
    opacity: 0;
  }
}

@media only screen and (min-width: 40em) {
  .icon__list__item__link:hover .icon__text {
    -webkit-animation: SqueezeOut .2s ease-out;
            animation: SqueezeOut .2s ease-out;
    opacity: 1;
  }
}

.icon__text {
  z-index: 20;
  opacity: 0;
  position: absolute;
}

@media only screen and (max-width: 40em) {
  .icon__text {
    opacity: 1;
    z-index: 0;
    position: relative;
    display: block;
  }
}

@media only screen and (max-width: 43.75em) {
  .title, .section__image-1, .section__image-2, .section__image-3 {
    background-attachment: scroll;
  }
}

.portfolio {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: #666;
}

.section__image-1, .section__image-2, .section__image-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section__image-1 {
  background-image: url("/static/justn/img/portfolio/backgrounds/1_countryclub.jpg");
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section__image-2 {
  background-image: url("/static/justn/img/portfolio/backgrounds/2_hawaii.jpg");
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section__image-3 {
  background-image: url("/static/justn/img/portfolio/backgrounds/3_vegas.jpg");
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.center {
  text-align: center;
}

.section {
  background-color: #f2f4f3ff;
  padding: 4rem 0;
  color: #22333bff;
  margin: 0 auto;
  width: 75%;
}

.section__title {
  background: #22333bff;
}

.section__line:not(:last-child) {
  margin-bottom: 4rem;
}

.title {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title__line {
  margin: .5rem;
}

.project__link:link,
.project__link:visited {
  color: #22333bff;
  text-decoration: none;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__block {
  margin: 1rem auto;
  border-radius: .4rem;
  width: 100%;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 3px black;
          box-shadow: 2px 2px 3px black;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.project__block:hover {
  background: rgba(133, 135, 134, 0.159);
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 1rem;
}

.project__text {
  margin: 2rem 0;
}

.resume__block:not(:last-child) {
  margin-bottom: 5rem;
}

.technology__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.technology__list__item:not(:last-child) {
  margin-right: 1rem;
}

.primary {
  font-family: 'Lato', sans-serif;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: .5rem;
  color: white;
  text-transform: uppercase;
  padding: 0 1rem;
}

@media only screen and (max-width: 40em) {
  .primary {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 28em) {
  .primary {
    font-size: 4rem;
  }
}

.secondary {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  color: white;
  text-transform: uppercase;
  padding: 0 1rem;
}

@media only screen and (max-width: 40em) {
  .secondary {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 28em) {
  .secondary {
    font-size: 3rem;
  }
}

.tertiary {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.quaternary {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: .5rem;
  margin-bottom: 3rem;
}

.icon {
  font-size: 4rem;
  fill: currentColor;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 40em) {
  .icon {
    font-size: 3rem;
  }
}

.icon__text {
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 40em) {
  .icon__text {
    font-size: 1rem;
  }
}

.section__line {
  font-size: 1.8rem;
  letter-spacing: .1rem;
  line-height: 2.5;
}

.technology__list {
  font-size: 1.2rem;
}

.technology__list__item:first-child {
  font-weight: 600;
}

.technology__list__item:not(:first-child) {
  text-transform: uppercase;
}

.user {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("/static/justn/img/portfolio/author/profile_background.jpg") no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user .control {
  background: #f2f4f3ff;
  border-radius: 1.5rem;
  padding: 2rem;
  text-align: center;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user .control form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user .control form input[type=text], .user .control form input[type=password] {
  background-color: transparent;
  padding: .5rem;
  border: 1px solid rgba(128, 128, 128, 0.507);
  outline: none;
  border-radius: .2rem;
}

.user .control form input[type=text]:focus, .user .control form input[type=password]:focus {
  border: 1px solid black;
}

.user .control form .login {
  background: -webkit-gradient(linear, left top, right bottom, from(#35012C), to(#4F0147));
  background: linear-gradient(to bottom right, #35012C, #4F0147);
  border: none;
  padding: 1rem;
  width: 50%;
  border-radius: 4rem;
  color: #f2f4f3ff;
}

.user .control form .login:focus {
  outline: 0;
}

.user .control a:link,
.user .control a:visited {
  color: #000;
}
/*# sourceMappingURL=main.css.map */