* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-width: fit-content;
    height: 100%;
}

body {
    min-width: fit-content;
    font-size: 1.4rem;
    background: $cultured;
    height: 100%;
}

.photo_credit {
    color: $white;
    font-size: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
}