@media only screen and (max-width: $breakpoint-small) {
    .title, .section__image-1, .section__image-2, .section__image-3 {
        background-attachment: scroll;
    }
}

.portfolio {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    min-width: fit-content;
    color: #666;
}

.section__image-1, .section__image-2, .section__image-3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section__image-1 {
    background-image: url('/static/justn/img/portfolio/backgrounds/1_countryclub.jpg');
    @include section__flexbox;
}

.section__image-2 {
    background-image: url('/static/justn/img/portfolio/backgrounds/2_hawaii.jpg');
    @include section__flexbox;
}

.section__image-3 {
    background-image: url('/static/justn/img/portfolio/backgrounds/3_vegas.jpg');
    @include section__flexbox;
}

.center {
    text-align: center;
}

.section {
    background-color: $cultured;
    padding: 4rem 0;
    color: $gunmetal;
    margin: 0 auto;
    width: 75%;

    &__title {
        background: $gunmetal;
    }

    &__line {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
}

.title {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__line {
        margin: .5rem;
    }

    .top-secret-login:link,
    .top-secret-login:visited {
        color: $white;
        text-decoration: none;
        cursor: text;
    }
}
