.technology {
    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        &__item {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}